// global styles_________________________________
$purple: #332E56;
$green: #55CD99;
$bg-main:#F6F6F8;
$bg-green:#E3FFF3;
$bg-lt:#F2F2F7;
$bg-dk:#D9D7E3;

* {
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	padding:0;
	margin:0;
	/*font-size:15px;*/
}

h1, h2, h3 {
	font-family: 'Roboto Slab', serif;
	color: $purple;
	margin: 20px 0px;
}

p {
	font-family: 'Lato', sans-serif;
	color: $purple;
}

img {
	width: auto;
	height: auto;
}

.button {
	width: 150px;
	border: 1px solid $green;
	padding-left: 30px;
	padding-right: 30px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: $green;
	font-weight: 400;
	transition: .3s ease;
	border-radius: 4px;
}

.button:hover {
	background-color: $green;
	color: white;
}

.btn-dark {
	padding:15px;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: $purple;
}

.row {
	display: flex;
	width: 100%;
	padding-top: 120px;
	padding-bottom: 120px;
	justify-content: center;
}

.column {
	width: 80%;
	max-width: 1000px;
	display: flex;
	justify-content: space-around;
}

// navbar_____________________________________________________________________________________________
.navbar {
	height: 75px;
	width: 100%;
	background-color: white;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid $bg-dk;
}

.navbar-content {
	display:flex;
	justify-content:space-between;
}

.logo {
	width:85px;
}

.nav-menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.nav-item {
	margin-left:15px;
	margin-right:15px;
}

.nav-item:last-of-type {
	margin-right:0;
	margin-left:30px;
}
// hero______________________________________________________________________________________________

.hero {
	padding:0;
	background-color: #EEF0F3;
	background-image: url('assets/hero-image.png');
	background-size:cover;
	background-position:center center;
}

.hero-content {
	height:100vh;
	width:100vw;
	justify-content:center;
	align-items:center;
}

.hero-floating-box {
	padding:30px 60px 30px 60px;
	background-color:rgba(255,255,255,.9);
	max-width:50vw;
	justify-content:center;
	vertical-align: center;
}

.hero-title {
	font-size: 50px;
}

.hero-copy {
	max-width:300px;
}


// introduction______________________________________________________________________________________________
.introduction {
	background-color: rgba(50,0,0,.2);
}
// team______________________________________________________________________________________________
.team {
	background-color: rgba(0,50,0,.2);
}

.team-content, .team-text,
.team-companies, .team-companies-row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
		text-align: center;
	}
}

.team-companies {
	margin: 20px;
}

.team-companies-row {
	flex-direction: row;
}

.team-company-img {
	max-height: 40px;
	max-width: 70px;
	margin: 10px;
}
// highlights______________________________________________________________________________________________
.highlights {
	background-color: rgba(0,0,50,.2);
}
.highlights-content {
	flex-direction: column;
	align-items: center;
}
.highlights-all {
	display: flex;
	flex-direction: column;
}
.highlights-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;

	p {
		text-align: center;
	}
}
// case studies______________________________________________________________________________________________
.case_studies {
	background-color: rgba(50,0,0,.2);
}
// contact______________________________________________________________________________________________
.contact {
	background-color: rgba(0,50,0,.2);
}
// footer______________________________________________________________________________________________
.footer {
	background-color: rgba(0,0,50,.2);
}

// media queries________________________________________________________________________

// iphone and smaller________________________________
@media (max-width: 599px) {
	.hero {
		background-color:red;
	}

	.desktop-nav {
		display:none;
	}
}

// from ipad to desktop
@media (min-width: 600px) {
	.hero {
		background-color:cyan;
	}
	.highlights-all {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}

@media (min-width: 800px) {
	.team-company-img {
		max-height: 80px;
		max-width: 120px;
		margin: 40px;
	}
}

// desktop and above_________________________________
@media (min-width: 1200px) {
	.hero {
		// background-color:yellow;
	}
}
